@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import 'loaders.css/src/animations/ball-pulse-sync.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

:root {
  * {
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
  }
}

.ball-pulse-sync > div {
  background-color: #ffbe00 !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}